<div class="flex justify-center">
    <h1 class="text-4xl font-normal leading-normal mt-0 mb-2 text-purple-900">Meet the Team</h1>
</div>

<div class="flex justify-center">
    <div class="flex flex-col">
        <a href="#">
            <img src="https://html.sammy-codes.com/images/small-profile.jpeg" class="rounded-lg drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"/>
        </a>
    </div>

    <div class="text-center mt-6">
        <h1 class="text-gray-900 text-xl font-bold mb-1">
            Christian Verry
        </h1>

        <div class="text-gray-700 font-light mb-2 text indent-4">
            Contributor to Project 2, Senior at CSUF
        </div>
    </div>       
</div>

 <div class="flex justify-center">
    <div class="flex flex-col">
        <a href="#">
            <img src="https://html.sammy-codes.com/images/small-profile.jpeg" class="rounded-lg drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"/>
        </a>
    </div>

    <div class="text-center mt-6">
        <h1 class="text-gray-900 text-xl font-bold mb-1">
            Donald Novasky
        </h1>

        <div class="text-gray-700 font-light mb-2 text indent-4">
            Contributor to Project 2, Senior at CSUF
        </div>
    </div>       
</div>
