<div class="relative bg-purple-900 px-6 pt-0 pb-0 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-max sm:rounded-lg sm:px-10">
    <div class="space-y-6 py-8 text-base leading-7 text-black-600">
        <div class="flex justify-center">
            <h1 class="text-5xl font-normal leading-normal mt-0 mb-2 text-white underline">Meet the Team</h1>
        </div>

        <div class="flex justify-center space-x-4">
            <a href="#">
                <img src="/assets/images/CJVerry_pic.jpg" class="rounded-lg drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100 w-50 h-80"/>
            </a>

            <div class="text-center mt-6">
                <h1 class="text-white text-xl font-bold mb-1 underline">
                    Christian Verry
                </h1>

                <div class="text-white font-light mb-2">
                    Contributor to Project 2, Senior at CSUF
                </div>
            </div>  
            
            <a href="#">
                <img src="https://html.sammy-codes.com/images/small-profile.jpeg" class="rounded-lg drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"/>
            </a>

            <div class="text-center mt-6">
                <h1 class="text-white text-xl font-bold mb-1 underline">
                    Donald Novasky
                </h1>

                <div class="text-white font-light mb-2">
                    Contributor to Project 2, Senior at CSUF
                </div>
            </div>        
        </div>
    </div>
</div>
